
:root {
	--circle-size: 102px;
}

@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(fonts/comfortaa.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Yantramanav';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(fonts/yantramanav.woff2) format('woff2');
}

html, body {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

html {
	background-color: var(--bg);
	color: var(--fg);
}

html {
	--bg: #000000;
	--bg-secondary: #161616;
	--fg: #fefefe;
	--fg-secondary: rgba(254, 254, 254, 0.8);
	--accent: #212121;
	--fg-inverted: #020202;
}

body {
	margin: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	font-family: 'Yantramanav', 'Roboto', 'Open Sans', 'Liberation Sans', sans-serif;
	font-weight: 300;
	font-size: 12pt;
}

header, footer, h1, h2 {
	font-family: 'Comfortaa', 'Roboto', 'Liberation Sans', sans-serif;
}

header > h1 {
	margin-bottom: 8px;
}

header, footer {
	user-select: none;
	padding: 16px;
}

section {
	padding: 16px;
	max-height: 100%;
	overflow-y: auto;
	font-weight: 400;
}

header {
	background-color: var(--accent);
}

section {
	flex: 1;
}

h1 {
	font-size: 2em;
	font-style: normal;
	margin: 0;
	padding: 0;
}

a:visited {
	color: #1E88E5;
}

a {
	color: #2196F3;
}

a:hover {
	color: #1976D2;
}

a:active {
	color: #1565C0;
}

footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: var(--bg-secondary);
	font-size: 0.6em;
	letter-spacing: 0.025em;
	-webkit-text-stroke: 0.01em;
}

footer a, footer a:visited {
	text-decoration: none;
	color: var(--fg-secondary);
}

footer a:hover, footer a:focus {
	color: var(--fg);
}

link-circles {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(auto-fit, var(--circle-size));
	grid-gap: 16px;
}

link-circles > a {
	text-decoration: none;
	color: inherit;
}

link-circles > * > link-circle {
	display: flex;
	background-color: var(--bg-secondary);
	--size: var(--circle-size);
	width: var(--size);
	height: var(--size);
	border-radius: calc(var(--size) / 2);
	max-width: var(--size);
	cursor: pointer;
}

link-circle > * {
	width: 100%;
	height: 100%;
}

spotify-icon {
	margin: 8%;
	background: url('img/spotify.svg');
	background-size: contain;
	background-repeat: no-repeat;
	filter: invert(100%);
}

@media (prefers-color-scheme: dark) {
	spotify-icon {
		filter: none;
	}
}

[data-spotify-green] {
	background-color: #1db954;
}

gitlab-icon {
	background: url('img/gitlab.png');
	background-size: contain;
	background-repeat: no-repeat;
}

[data-gitlab-orange] {
	background-color: #9c3402;
}

tidal-icon::before {
	content: "TIDAL";
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	letter-spacing: 0.16em;
	-webkit-text-stroke: 0.048em;
	color: white;
}

[data-tidal-black] {
	background-color: #212121;
}

github-icon {
	background-image: url('img/github.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center -1px;
}

github-icon::before {
	content: '';
	display: block;
	--ghic-border: 4px;
	border: var(--ghic-border) solid #171516;
	width: calc(var(--circle-size) - var(--ghic-border));
	height: calc(var(--circle-size) - var(--ghic-border));
	border-radius: 50%;
	margin-left: calc(-1 * var(--ghic-border) / 2);
	margin-top: calc(-1 * var(--ghic-border) / 2);
}

[data-github-color] {
	background-color: white;
}

@media (prefers-color-scheme: dark) {
	github-icon {
		background-image: url('img/github.png');
	}
	[data-github-color] {
		background-color: white;
	}
}

bandcamp-icon {
	background: url('img/bandcamp.png');
	background-size: var(--circle-size);
	background-repeat: no-repeat;
	background-position: center;
}

odysee-icon {
	background: url('img/odysee.png');
	background-size: var(--circle-size);
	background-repeat: no-repeat;
	background-position: center;
}

link-circle[data-transparent] {
	background-color: transparent;
}

footer-col {
	display: flex;
	flex-direction: column;
}

footer-col:last-child {
	align-items: flex-end;
}

footer-col:nth-child(2) {
	align-items: center;
}

footer-col > * {
	flex: 0;
}

footer-col span, footer-col a {
	white-space: nowrap;
}

table-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-flow: row;
	grid-gap: 2px 32px;
	max-width: 720px;
}
